<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lipunmyynti</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
	<h1>Lipputyypit</h1>
    <table>
		<tr>
		    <th>Kuvaus</th>
		    <th>Hinta</th>
            <th>Toiminnot</th>
		</tr>
    	<tr th:each = "lipputyyppi : ${lipputyyppi}">
    		<td th:text="${lipputyyppi.kuvaus}"></td>
			<td th:text="${lipputyyppi.lipun_hinta}"></td>
            <td><a th:href=null class="btn btn-warning">Muokkaa</a></td>
            <td><a th:href=null class="btn btn-danger">Poista</a></td>
    	</tr>
     </table>

	 <form action="#" th:object="${lipputyyppi}" th:action=null method=null>
			<div class="form-group row">
				<label for="uusiLippuKuvaus" class="col-sm-2 col-form-label col-form-label-lg">Kuvaus</label>
				<div class="col-sm-4">
				<input type="text" class="form-control form-control-lg" id="uusiLippuKuvaus" th:field="*{kuvaus}">
			</div>
		</div>
		<div class="form-group row">
				<label for="uusiLippuHinta" class="col-sm-2 col-form-label col-form-label-lg">Hinta</label>
				<div class="col-sm-2">
					<input type="number" class="form-control form-control-lg" id="uusiLippuHinta" step="1" th:field="*{lipun_hinta}">
				</div>
			</div>
	        <div>
				<button type="submit" class="btn btn-primary">Tallenna</button>
		    </div>
    </body>
</html>